<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.misp.hs.mapper.HsStaffMapper">

    <resultMap type="edu.scau.misp.hs.entity.HsStaff" id="HsStaffMap">
        <result property="staffId" column="staff_id" jdbcType="INTEGER"/>
        <result property="staffNumber" column="staff_number" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="staffName" column="staff_name" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="phoneNumber" column="phone_number" jdbcType="INTEGER"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="creationDay" column="creation_day" jdbcType="TIMESTAMP"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <association property="hsRole" javaType="edu.scau.misp.hs.entity.HsRole" >
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleNo" column="role_no" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
            <result property="roleStatus" column="role_status" jdbcType="INTEGER"/>
        </association>
    </resultMap>

    <!--查询（用username）-->
    <select id="queryByUsername" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id
        from hs_staff b
        where username = #{username}
    </select>

    <!--查询发型师-->
    <select id="queryStaffByTelephone" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id
        from hs_staff b
        where phone_number = #{phoneNumber}
    </select>

    <!--查询技师all-->
    <select id="allStaff" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id
        from hs_staff as b
        where level!=5 and level!=4
    </select>

    <!--通过Name查询-->
    <select id="queryStaffIdByName" resultMap="HsStaffMap">
        select
            staff_id,staff_number, username, staff_name, level, gender, phone_number, birthday, creation_day, role_id
        from hs_staff
        where staff_name = #{staffName}
    </select>

    <!--查询技师name-->
    <select id="queryTechnician" resultMap="HsStaffMap">
        select
            staff_name
        from hs_staff
        where level=0
    </select>

    <!--查询技师all-->
    <select id="queryTechnicianAll" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id
        from hs_staff as b
        where level=0
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="HsStaffMap">
        select
          b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,
          t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status
        from hs_staff AS b LEFT JOIN hs_role AS t
        ON b.role_id=t.role_id
        where b.staff_id = #{staffId}
    </select>

    <!--查询通过角色序号-->
    <select id="queryByRoleId" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,
            t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status
        from hs_staff AS b LEFT JOIN hs_role AS t
                                     ON b.role_id=t.role_id
        where b.role_id = #{roleId}
    </select>

    <!--查询通过编号序号-->
    <select id="queryByNumber" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,
            t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status
        from hs_staff AS b LEFT JOIN hs_role AS t
                                     ON b.role_id=t.role_id
        where b.staff_number = #{staffNumber}
    </select>

    <!--查询通过编号序号-->
    <select id="queryByPhoneNumber" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,
            t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status
        from hs_staff AS b LEFT JOIN hs_role AS t
                                     ON b.role_id=t.role_id
        where b.phone_number = #{phoneNumber}
    </select>

    <!--查询单个通过userName-->
    <select id="queryByuserName" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,
            t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status
        from hs_staff AS b LEFT JOIN hs_role AS t
                                     ON b.role_id=t.role_id
        where b.username = #{userName}
    </select>

    <!--查询单个通过userName-->
    <select id="queryBystaffName" resultMap="HsStaffMap">
        select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,
            t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status
        from hs_staff AS b LEFT JOIN hs_role AS t
                                     ON b.role_id=t.role_id
        where b.staff_name = #{staffName}
    </select>

<!--    &lt;!&ndash;查询all通过roleId&ndash;&gt;-->
<!--    <select id="queryByRole" resultMap="HsStaffMap">-->
<!--        select-->
<!--            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,-->
<!--            t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status-->
<!--        from hs_staff AS b LEFT JOIN hs_role AS t-->
<!--                                     ON b.role_id=t.role_id-->
<!--        where b.role_id = #{roleId}-->
<!--    </select>-->

    <!--查询所有数据-->
    <select id="queryAll" resultMap="HsStaffMap">
            select
            b.staff_id, b.staff_number, b.username, b.staff_name, b.level, b.gender, b.phone_number, b.birthday, b.creation_day, b.role_id,
            t.role_id, t.role_name, t.role_no, t.remark, t.create_time, t.modified_time, t.role_status
            from hs_staff AS b LEFT JOIN hs_role AS t
            ON b.role_id=t.role_id
            <where>
                <if test="staffId != null">
                    and b.staff_id = #{staffId}
                </if>
                <if test="staffNumber != null">
                    and b.staff_number = #{staffNumber}
                </if>
                <if test="username != null and username != ''">
                    and b.username = #{username}
                </if>
                <if test="staffName != null and staffName != ''">
                    and b.staff_name = #{staffName}
                </if>
                <if test="level != null and level != ''">
                    and b.level = #{level}
                </if>
                <if test="gender != null">
                    and b.gender = #{gender}
                </if>
                <if test="phoneNumber != null">
                    and b.phone_number = #{phoneNumber}
                </if>
                <if test="birthday != null">
                    and b.birthday = #{birthday}
                </if>
                <if test="creationDay != null">
                    and b.creation_day = #{creationDay}
                </if>
                <if test="roleId != null">
                    and b.role_id = #{roleId}
                </if>
            </where>
    </select>


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from hs_staff
        <where>
            <if test="staffId != null">
                and staff_id = #{staffId}
            </if>
            <if test="staffNumber != null">
                and staff_number = #{staffNumber}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="staffName != null and staffName != ''">
                and staff_name = #{staffName}
            </if>
            <if test="level != null and level != ''">
                and level = #{level}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="phoneNumber != null">
                and phone_number = #{phoneNumber}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="creationDay != null">
                and creation_day = #{creationDay}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="staffId" useGeneratedKeys="true">
        insert into hs_staff(staff_number, username, staff_name, level, gender, phone_number, birthday, creation_day, role_id)
        values (#{staffNumber}, #{username}, #{staffName}, #{level}, #{gender}, #{phoneNumber}, #{birthday}, #{creationDay}, #{roleId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hs_staff
        <set>
            <if test="staffNumber != null">
                staff_number = #{staffNumber},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="staffName != null and staffName != ''">
                staff_name = #{staffName},
            </if>
            <if test="level != null and level != ''">
                level = #{level},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="creationDay != null">
                creation_day = #{creationDay},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
        </set>
        where staff_id = #{staffId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hs_staff where staff_id = #{staffId}
    </delete>

</mapper>

